<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package moviesId="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package moviesId="bootstrap" version="3.3.7" targetFramework="net461" />
  <package moviesId="jQuery" version="3.3.1" targetFramework="net461" />
  <package moviesId="jQuery.ValmoviesIdation" version="1.17.0" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.DependencyCollector" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.Web" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.WindowsServer" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.5.1" targetFramework="net461" />
  <package moviesId="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net461" />
  <package moviesId="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net461" />
  <package moviesId="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net461" />
  <package moviesId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net461" />
  <package moviesId="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net461" />
  <package moviesId="Microsoft.CodeDom.ProvmoviesIders.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package moviesId="Microsoft.jQuery.Unobtrusive.ValmoviesIdation" version="3.2.4" targetFramework="net461" />
  <package moviesId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package moviesId="Modernizr" version="2.8.3" targetFramework="net461" />
  <package moviesId="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package moviesId="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package moviesId="WebGrease" version="1.6.0" targetFramework="net461" />
</packages>